body {
  background-color: #acbfce;
}

h1 {
  color: white;
  text-align: center;
  font-family: verdana;
}

p {
  font-family: verdana;
  font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#center {
text-align:center;
width: 100%;
 }

#navwrapper { width:100%;
background: url(/web/20060215225912im_/http://www.phwonline.com/skins/phwcomics/menubg.jpg) repeat-x;
}
