ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #555;
}

li {
  float: left;
  border-bottom: 1px solid #555;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

li:last-child {
  border-bottom: none;
}
